<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Tarea</title>
</head>
<body>
<h1>Editar Tarea</h1>
<form th:action="@{/tasks/update/{id}(id=${task.id})}" th:object="${task}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" th:field="*{description}"></textarea>
    <br>
    <label for="status">Status:</label>
    <select id="status" name="status" th:field="*{status}">
        <option value="pending">Pending</option>
        <option value="completed">Completed</option>
        <option value="canceled">Canceled</option>
        <option value="procces">In Progress</option>
    </select>
    <br>
    <button type="submit">Actualizar</button>
</form>
<a th:href="@{/tasks}">Volver</a>
</body>
</html>
